html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  background-color: #f0dfcf;
}
audio {
  position: absolute;
  border: 1px solid black;
  margin-top: 615px;
  margin-left: -1350px;
}
